.newsImage{
    float:left;
   margin-right:145px;
   margin-bottom:30px;
}
.articlesText{
    text-align: left;
}
.articlesList{
    margin: 40px 0;
}
.articlesBlock{
    margin-top:30px;
}
.NamesArticles{
    font-size:25px!important;
}
.ComponentName{
    font-size:40px!important;
}