#bundlePage {
    @media only screen and (min-width: 768px) {
        #contentBlock {
            width: 78% !important;
        }
    }
}
.vpn-page .block-title{
    padding-top:80px;
}
.block-title {
    font-size: 50px;
    line-height: 50px;
    font-weight: 500;
    margin-top:50px;
}
@media only screen and (max-width: 400px) {
    .block-title {
        font-size: 35px !important;
        line-height: 35px !important;
    }
    .vpn-seo-text{
        top:0px!important;
    }
    .vpn-page .block-title{
        padding-top:50px;
    }
}

.block-titleH2{
    position:absolute;
    left:50%;
    transform:translate(-50%);
}
.pTextVpn{
    font-size: 1.71428571rem;
    font-weight: 700;
    text-align:center;
}