#headerBlock {
    background-color: #FE3E3C;
}

#footerBlock .ui.menu .item {
    padding: 0.3em !important;
}
#footerBlock{
    margin-top:3em;
}

@media only screen and (max-width: 400px) {
    #headerBlock .ui.menu .item {
        font-size: 16px !important;
    }

    #headerBlock .ui.menu .item:first-child {
        padding: 0 5px 0 0 !important;
    }

    #headerBlock .ui.menu .item {
        padding: 10px !important;
    }

    #footerBlock .ui.menu .item {
        padding: initial !important;
    }
}
